body {
    font-family: sans-serif;
    margin: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tarjeta img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 5px 5px 0 0; 
}
.tarjeta h3 {
    margin-top: 10px; 
}

.tarjeta p {
    font-size: 0.9em; 
    line-height: 1.5; 
}